@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Margarine&display=swap');

body {
    background-color: black;
    color: #F29727;
    margin: 0;
    padding: 0;
}

/* -- Branding Strip -- */

.gold-stripe {
    background-color: #F29727;
    height: 20px;
}

.branding-strip {
    padding: 20px;
    text-align: center;
}

.page-title {
    font-family: "Caveat", cursive;
    font-size: 80px;
}

.slogan {
    font-family: 'Kaushan Script', cursive;
}

/* -- Colours -- */

.color-scheme-ax {
    background-color: #000000;
    color: #FFFFFF;
}

.color-scheme-ay {
    background-color: #FFFFFF;
    color: #000000;
}

.color-scheme-bx {
    background-color: #000000;
    color: #F29727;
}

.color-scheme-by {
    background-color: #F29727;
    color: #000000;
}

.color-scheme-cx {
    background-color: #A80808;
    color: #FFFFFF;
}

.color-scheme-cy {
    background-color: #FFFFFF;
    color: #A80808;
}

/* -- Introduction -- */

.introduction-text {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.title {
    font-family: "Caveat", cursive;
    font-size: 40px;
}

.image {
    padding: 0;
    width: 100%;
    border-radius: 20px;
}

.section-title {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-family: "Caveat", cursive;
    font-size: 40px;
}

/* -- Read Reviews Page -- */

.loved-books {
    text-decoration: none !important;
    color:#A80808;
}

.latest-books {
    text-decoration: none !important;
    color:#A80808;
}

/* -- Write Reviews Page -- */

.write-title {
    text-decoration: none !important;
    color:#A80808;
    font-family: "Caveat", cursive;
    font-size: 40px;
}

.likes {
    font-size: 80px;
}

#review {
    margin: 20px;
    padding: 20px;
    color: #A80808;
}

/* -- Footer -- */

.foot {
    text-align: center;
    font-family: "Caveat", cursive;
    padding: 20px;
}

.foot-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 60px;
}

.foot-intro {
    padding-bottom: 0;
    font-size: 20px;
}

.foot-title {
    padding-top: 0;
    font-size: 40px;
}

.social-media {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 60px;
    padding: 20px;
}